rules_version = '2';

// Craft rules for the Storage Emulator
service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can read and write to storage
    match /profilePictures/{userId}/{allPaths=**} {
      // Allow read access to profile pictures
      allow read;
      // Allow write access only to owner
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
